body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #FAFAC6; }

.titleDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8%; }
  .titleDiv h1 {
    font-size: 80px; }
  .titleDiv h2 {
    font-size: 30px; }
  .titleDiv p {
    color: #474350;
    position: absolute;
    bottom: 10%; }
  .titleDiv p:hover {
    color: grey;
    cursor: pointer; }

.selectBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 9%; }
  .selectBox h1 {
    display: flex;
    font-size: 70px;
    margin-bottom: 7%; }
  .selectBox button {
    margin-top: 7%;
    padding: 1%;
    color: #474350;
    font-size: 18px; }
  .selectBox button:hover {
    color: grey;
    border-color: grey; }

.playerBox {
  display: flex;
  padding: 2%; }
  .playerBox label {
    font-size: 20px;
    color: #474350; }
  .playerBox input[type="name"] {
    background-color: white;
    padding: 1%;
    margin-left: 3px;
    margin-right: 3px;
    font-size: 15px; }
  .playerBox input[type="checkbox"] {
    margin-top: 5px;
    margin-left: 4px; }

.pDiv {
  display: flex;
  width: 600px;
  justify-content: space-between;
  margin-top: 2%; }
  .pDiv div {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black; }
    .pDiv div div {
      display: flex;
      flex-direction: row; }
      .pDiv div div i {
        margin-left: 5%; }
    .pDiv div p {
      font-weight: bolder;
      font-size: 20px; }
    .pDiv div hr {
      border: 3px solid #474350;
      width: 150px;
      border-radius: 2px; }

.boardBox {
  display: flex;
  flex-wrap: wrap;
  background-color: #FAFAC6;
  width: 600px;
  height: 600px;
  margin-top: 5%;
  margin-right: -1.5%; }

.spot {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 33.33333%;
  border: 3px solid transparent;
  font-family: 'Architects Daughter', cursive;
  font-size: 250px; }
  .spot:nth-child(1) {
    border-bottom: 3px solid #474350;
    border-right: 3px solid #474350; }
  .spot:nth-child(2) {
    border-bottom: 3px solid #474350;
    border-left: 3px solid #474350;
    border-right: 3px solid #474350; }
  .spot:nth-child(3) {
    border-bottom: 3px solid #474350;
    border-left: 3px solid #474350; }
  .spot:nth-child(4) {
    border-bottom: 3px solid #474350;
    border-top: 3px solid #474350;
    border-right: 3px solid #474350; }
  .spot:nth-child(5) {
    border: 3px solid #474350; }
  .spot:nth-child(6) {
    border-bottom: 3px solid #474350;
    border-top: 3px solid #474350;
    border-left: 3px solid #474350;
    border-right: 3px solid transparent; }
  .spot:nth-child(7) {
    border-top: 3px solid #474350;
    border-right: 3px solid #474350; }
  .spot:nth-child(8) {
    border-top: 3px solid #474350;
    border-left: 3px solid #474350;
    border-right: 3px solid #474350; }
  .spot:nth-child(9) {
    border-top: 3px solid #474350;
    border-left: 3px solid #474350; }

.resultDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 9%; }
  .resultDiv h1 {
    font-size: 70px;
    margin-bottom: 4%; }
  .resultDiv button {
    margin-top: 1%;
    padding: 3%;
    font-size: 20px;
    color: #474350; }
  .resultDiv button:hover {
    color: grey; }

/*# sourceMappingURL=style.css.map */
